@font-face{
    font-family: "JF";
    src: url(./fonts/JF-Flat-regular.eot);
    src: url(./fonts/JF-Flat-regular.eot?#iefix) format("embedded-opentype"),
    url(./fonts/JF-Flat-regular.svg#JF) format("svg"),
    url(./fonts/JF-Flat-regular.woff) format("woff"),
    url(./fonts/JF-Flat-regular.ttf) format("truetype");
    font-weight: bolder;
    font-style: normal;
}
body{
    font-family: JF,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.429;
}
.custom-navbar{
    border-bottom: 3px solid #eef0ea;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.custom-navbar .navbar-brand{
    margin-left: 30px;
    margin-top: 4px;
}
.custom-input{
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 16px;
    transition: all 0.3s ease;
    color: #868686;
}
.custom-input:focus{
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}
form .dropdown .nav-link:hover{
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #b86d07;
}
form .dropdown .nav-link{
    border-right: 0;
    border-radius: 0;
    padding: 8px 16px;
    border: 1px solid #ebebeb;
    box-shadow: none;
    font-size: 14px;
    transition: all 0.3s ease;
    color: #868686;
}
form .dropdown-menu,
.navbar-nav .dropdown-menu
{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #ebebeb;
    color: #777;
}
form .dropdown-menu .checkbox{
    margin-right: 5px;
}
nav form button.btn{
    background-color: #ff3956;
    border-color: #ff3956;
    color: white;
    padding: 5px 15px 7px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
}
nav form button.btn:hover,
nav form button.btn:active,
nav form button.btn:focus,
nav form button.btn:active:focus,
nav form button.btn:active:hover{
    background-color: #c2101e;
    border-color: #c2101e;
    color: white;
}
nav .navbar-nav li a.nav-link{
    color: #555;
    font-size: 14px;
    padding: 15px;
}
nav .navbar-nav li a.nav-link:hover{
    color: #000;
}
nav .navbar-nav li.active a.nav-link{
    color: #ff3956;
    border-bottom: 1px solid #ff3956;
    font-weight: 700;
}
nav .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}
.navbar-nav .dropdown-menu li a:hover{
    background-color: #ffe7ea;

}
.navbar-nav li a.btn{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px 10px 4px;
    color: #777;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 8px;
}
.navbar-nav li a.btn:hover{
    color: black;
    background-color: #bfbfbf;
}
/*المنتجات المميزة*/
#carousel-featured{
    background-color: #f7f8f3;
    height: 400px;
}
#carousel-featured .carousel-item img{
    height: 375px;
    margin-top: 26px;
}
#carousel-featured .product-details{
    border: 1px solid #dddddb;
    padding: 20px;
    margin-top: 50px;
    height: 200px;
    position: relative;
    background-color: #f7f8f3;
}
#carousel-featured .product-details .product-category{
    border: 1px solid #dddddb;
    padding: 10px;
    position: absolute;
    top: -10px;
    right:-10px;
    background-color: #f7f8f3;
}
#carousel-featured .product-details h1{
    font-size: 175%;
    font-weight: 700;
    margin-top: 18px;
}
#carousel-featured .product-details a.btn{
    color: #f8ad47;
    border-color: #f8ad47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}
#carousel-featured .product-details a.btn:hover{
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #b86d07;
}
.sale{
    background-color: #53ccd7;
    color: white;
    font-weight: bold;
    position: absolute;
}
#carousel-featured .product-details p{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
}
#carousel-featured .product-details p span{
    font-size: 14px;
    display: block;
}
#carousel-featured .carousel-indicators{
    top: 235px;
    right: 41%;
}
#carousel-featured .carousel-indicators img{
    height: 75px;
    width: 75px;
    background-color: white;
    border: 2px solid #ddddd8;
}
#carousel-featured .carousel-indicators img.active{
    border-color: #f8ad47;
}
#carousel-featured .carousel-control-prev,
#carousel-featured .carousel-control-next
 {
    color: #868686;
    font-size: 20px;
}
#store-features{
    box-shadow: 0 0 15px #eef0ea;
    position: relative;
    top: -30px;
    background-image: url(./images/bg_features.png);
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 25px;
    background-size: auto 60%;
    background-position: -10px -20px;
}
#store-features .row img{
    height: 40px;
    margin-bottom: 10px;
}
#store-features .row .col-4+.col-4{
    border-right: 1px solid #eef0ea;
}
.custom-heading
{
    font-size: 24px;
    margin-bottom: 25px;
}
.custom-thumbnail{
    border: 2px solid #eef0ea;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}
.custom-thumbnail img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.custom-thumbnail:hover{
    border-color: #53ccd7;
}
.custom-thumbnail h4{
    font-size: 16px;
    padding-top: 10px;
}
.custom-thumbnail .card-body{
    padding: 9px;
}
.custom-thumbnail .price{
    padding-top: 10px;
}
.price{
    color: #53ccd7;
}
.rating{
    color:#c2c2c2 ;
}
.rating .active{
    color: #f3af41;
}
.custom-thumbnail .overlay{
    position: absolute;
    background-color: rgba(83, 204, 215, .5);
    height: 286px;
    width: calc(100%-16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}
.custom-thumbnail .overlay:hover{
    opacity: 1;
}
.custom-thumbnail .add-to-card{
    background-color: white;
    color: #19becd;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
}
.custom-thumbnail .add-to-card:hover,
.custom-thumbnail .add-to-card:active,
.custom-thumbnail .add-to-card:focus,
.custom-thumbnail .add-to-card:active:focus,
.custom-thumbnail .add-to-card:active:hover{
    color: #000;
}
.custom-thumbnail .sale{
    padding: 5px 10px;
    left: 16px;
    top: 14px;
}
.custom-indicators>button{
    height: 13px !important;
    width: 13px !important;
    margin: 2px !important;
    background-color: #dbdbdb !important;
}
.custom-indicators>button.active{
    background-color: #565656 !important;
}
#carousel-most-sold .carousel-indicators{
    position: static;
}
#row-brands h3.custom-heading{
    border-top: 1px solid #eef0ea;
    padding-top: 25px;
}
.custom-pane{
    border: 4px solid #eef0ea;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px;
    margin-bottom: 20px;
}
.custom-pane .product-image{
    width: 100%;
    margin-bottom: 8px;
}
.custom-btn-primary{
    width: 100%;
    padding: 8px 25px;
    color: #f8ad47;
    border-color: #f8ad47;
    border-radius: 2px;
    background-color: transparent;
}
.custom-btn-primary:hover,
.custom-btn-primary:active,
.custom-btn-primary:focus,
.custom-btn-primary:active:focus,
.custom-btn-primary:active:hover{
    color: #b86d07;
    border-color: #b86d07;
    background-color: transparent;
}
.custom-pane h4,.custom-pane .price{
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 15px;
}
.custom-text-muted{
    color: #a9a9a9;
}
.custom-arrow-btn,
.custom-arrow-btn:hover{
    background-color: white;
    color: #868686;
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
}
.brand-text{
    display: inline-block;
    margin-left: 3px;
}
.brand-nav{
    margin-top: 14px;
}
#brand-logos{
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555;
}
#brand-logos img{
    margin-left: 25px;
    margin-right: 25px;
    max-height: 100px;
    max-width: 100px;
}
#footer-nav{
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(./images/bg_footer_1.png),url(./images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0 ,-10% -150%;
}
#footer-nav-links{
    margin: 30px 0;
}
#footer-nav-links a{
    color: #555;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
}
#footer-nav #newsletter{
    border-top: 1px solid #292929;
}
#footer-nav form{
    max-width: 260px;
    margin: auto;
}
#newsletter input{
    text-align: right;
    direction: rtl;
    border-radius: 2px;
    background-color: #313131;
    opacity: 0.6;
    height: 38px;
    border: none;
}
#footer-nav form label{
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555; 
}
.custom-btn-primary2{
    color: #000;
    background-color: #f8ad47;
    border-color: #f8ad47;
    border-radius: 2px;
}
.custom-btn-primary2:hover,
.custom-btn-primary2:active,
.custom-btn-primary2:focus,
.custom-btn-primary2:active:focus,
.custom-btn-primary2:active:hover{
    background-color: #b86d07;
    border-color: #b86d07;
    color: #000;
}
#newsletter form button{
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px 12px 5px;
    font-size: 14px;
}
#footer-copyright{
    background-color: #151515;
    color: #303030;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
}
#footer-copyright a{
    color: #303030;
    margin-left: 5px;
    margin-right: 5px;
}
#social-icons a{
    text-decoration: none;
}
/*****************************************************************************
**************************************************************
Product Page
******************************************************************************
**************************************************************/
.custom-breadcrumb {
    padding: 25px 0;
}
.custom-breadcrumb a{
    color: #555;
    text-decoration: none;
}
.custom-breadcrumb a:hover{
    color: #f8ad47;
}
.custom-breadcrumb li+li::before{
    content: ">";
    color: #555;
    padding: 0 5px;
}
.custom-breadcrumb .active{
    color: #bfbfbf;
}
#carousel-product-images .carousel-indicators{
    position: relative;
    top: -35px;
    right: 0;
}
#carousel-product-images .carousel-indicators img{
    height: 75px;
    width: 75px;
    background-color: white;
    border: 2px solid #ddddd8;
}
#carousel-product-images .carousel-indicators img.active{
    border-color: #f8ad47;
}
#carousel-product-images .carousel-item img{
    border: 1px solid #ebebeb;
    width: 100%;
}
.product-category{
    color: #a9a9a9;
}
#form-product-selection h2
{
    font-size: 30px;
    font-weight: 700;
    margin:18px 0;
}
#form-product-selection .price{
    font-size: 30px;
    margin-top: 20px;
}
#form-product-selection>div+div{
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-option{
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #ebebeb;
    text-align: center;
    color: #c2c2c2;
    margin: 3px 3px 9px 3px;
}
.product-option input{
    display: none;
}
.product-option label{
    font-weight: 700;
}
.product-option.active{
    color: #f8ad47;
    border-color: #f8ad47;
}
.color-option.active{
    border-color: white;
    outline: #000 solid 1px;
}
.product-quantity {
    padding-bottom: 20px;
}
.product-quantity select{
    width: 56px;
    height: 34px;
    padding: 6px 12px;
    margin-right: 3px;
    border-radius: 0;
}
.custom-btn-with-icon{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 2px;
}
.heading-with-border-bottom{
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 15px;
    padding-top: 15px;
}
.heading-inline{
    display: inline-block;
    min-width: 250px;
}
.more-description,
.comments,
.suggestions{
    border-top: 1px solid #ebebeb
}
.more-description p,
.more-description ul{
    margin-bottom: 10px;
    font-weight: bold;
}
.comments .d-flex {
    margin: 15px;
}
.comments .d-flex img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: 1px solid #dfdfdf;
}
.comments>div+div{
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}
.comments .d-flex .media-heading{
    font-size: 18px;
    margin-bottom: 5px;
}
.suggestions .custom-thumbnail{
    margin-right: -8px;
    margin-left: -8px;

}
/*************************************************************
*********************************
Checkout Page
*********************************
**************************************************************/
h1.custom-heading{
    font-size: 36px;
    margin: 25px 0;
}
.custom-table .custom-media{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.custom-table .custom-media img{
    height: 80px;
    width: 80px;
    border: 1px solid #ebebeb;
    margin-left: 10px;
}
.custom-table .custom-media h4{
    font-size: 18px;
    margin: 12px 0;
}
.custom-table th , .custom-table td{
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    font-size: 120%;
}
.custom-table td:not(:first-child){
    text-align: center;
}
.custom-table th:first-child , .custom-table td:first-child{
    width: 50%;
}
.custom-table th{
    color: #c2c2c2;
    font-weight: normal; 
}
.custom-table th:not(:first-child){
    text-align: center;
}
.custom-table th:first-child{
    padding-right: 20px;
}
.custom-table .quantity{
    border-radius: 0;
    height: 34px;
    padding: 0px 8px;
    width: 56px;
    margin: auto;
}
.custom-btn-danger{
    color: #ff5a5f;
    border-color: #ff5a5f;
    background-color: transparent;
    border-radius: 3px;
    padding: 6px 16px;
}
.custom-btn-danger:hover,
.custom-btn-danger:active,
.custom-btn-danger:focus,
.custom-btn-danger:active:focus,
.custom-btn-danger:active:hover{
    color: #c2101e;
    border-color: #c2101e;
    background-color: transparent;
}
.custom-table tfoot td{
    border-bottom: none;
    font-size: 150%;
}
.custom-btn-with-icon{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px 10px;
}
/************************************************************
**********************************
Payment Page
**********************************
*************************************************************
*/
.custom-input-details{
    border-width: 2px;
    border-radius: 3px;
    height: 46px;
    padding: 0 16px;
    font-size: 18px;
    width: 97%;
}
.custom-input-details:focus{
    border-color: #b86d07;
    box-shadow: none;
}
#credit-card-info{
    margin-right: 3%;
}



/************************************************************
**********************************
MEDIA QUERY
**********************************
*************************************************************
*/
@media (max-width:1199.98px){
    .nav .navbar-nav li a.nav-link{
        padding: 8px;
    }
}
@media (max-width:991px) and (min-width:768px){
    .custom-thumbnail img{
        height: 200px;
    }
}
@media (max-width:991.98px){
    .custom-navbar{
        padding: 15px 20px 30px;
    }
    .navbar-header{
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }
    .custom-navbar .container{
        max-width: 100%;
    }
    .navbar-header .btn-icon{
        float: left;
        color: #777;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 5px 10px 4px;
        background-color: transparent;
        font-size: 18px;
    }
    .custom-navbar form.d-flex {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    .custom-navbar form.d-flex .custom-input{
        width: 90%;
    }
    .custom-navbar form.d-flex .search-btn{
        width: 10%;
    }
    .nav .navbar-nav li a.nav-link{
        padding: 10px 15px;
    }
    .navbar-collapse{
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }
    #carousel-featured .carousel-indicators{
        margin-right: 1%;
    }
    .custom-thumbnail .overlay{
        display: none;
    }
    .custom-thumbnail .add-to-card{
        background-color: white;
        color: #868686;
        font-weight: normal;
    }
    #copyright,#social-icons{
        width: 100%;
        text-align: center;
    }
    #social-icons{
        font-size: 150%;
        margin-top: 10px;
    }
    .product-option{
        width: 40px;
        height: 40px;
        margin: 10px;
        line-height: 40px;
        font-size: 20px;
    }
    
}
@media (max-width:767.98px){
    #carousel-featured .carousel-indicators{
        display: none;
    }
    #carousel-featured,#carousel-featured .product-details{
        height: auto;
    }
    #carousel-featured .product-details{
        margin-top: 0;
        text-align: center;
    }
    #carousel-featured{
        padding-bottom: 25px;
    }
    #carousel-featured .carousel-item{
        text-align: center;
    }
    #carousel-featured .carousel-item img{
        height: 250px;
    }
    #brand-logos img{
        max-height: 50px;
        max-width: 50px;
        margin: 5px 24px 5px 23px;
    }
    #footer-nav .footer-logo{
        margin-bottom: 30px;
    }
    #footer-nav form{
        max-width: 100%;
        width: 100%;
    }
    #footer-nav form .input-group{
        width: 100%;
    }
    .resultq{
        display: none;
    }
}
@media (max-width:575.98px){
    .custom-navbar form.d-flex .custom-input{
        width: 80%;
    }
    .custom-navbar form.d-flex .search-btn{
        width: 20%;
    }
    #carousel-featured .carousel-item{
        padding: 0 18px;
    }
    #brand-logos img{
        margin: 5px 15px ;
    }
    #form-product-selection , .comments{
        padding-left: 15px;
        padding-right: 15px;
    }
}

